.profile-info {
  display: inline-block;
  width: 33%;
  background-color: #ffff00;
  border: 1px solid #ffff00;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 10px auto;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-username {
  font-size: 16px;
  margin-bottom: 10px;
}

.profile-email {
  font-size: 16px;
  margin-bottom: 20px;
  color: #007bff;
}
.visit-link {
  font-weight: 700;
  cursor: pointer;
}

.toggle-button {
  margin-top: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #ffffff;
  color:#000000;
}
div{
background-color: #000000;
}